nav(class=['navbar', 'navbar-default', 'navbar-fixed-bottom', 'navbar-style'])
    div(class=['container', 'center'])
        p.navbar-brand
            | Powered by Apache Ignite
//footer.main-footer
//    //div(class=['pull-right', 'hidden-xs'])
//    Powered by Apache Ignite
