div(class=['container', 'container-footer'])
    footer
        center
            p
                | Powered by
                a(href='http://ignite.incubator.apache.org')  Apache Ignite
                | , version 1.1.0