nav(class=['navbar', 'navbar-default', 'navbar-fixed-top', 'navbar-style'])
    div.container
        div.navbar-header
            a(href='#')
                img(src='images/logo.png' alt='ApacheIgnite')
        div(class=[ 'navbar-collapse', 'collapse'])
            ul(class=['nav', 'navbar-nav', 'navbar-right'], style='margin-top: 5px')
                li
                    a(href='#') Settings
                li
                    a(href='#') Profile
                li
                    a(href='#') Log In