//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends layout-sidebar
append scripts
    script(src='/javascripts/controllers/caches.js')
block content
    div.docs-header
        h1 Caches
        p Create and configure Ignite caches.
        hr
    div.docs-body(ng-controller='cachesController')
        div.block-edit-parameters
            div.btn-group
                button(ng-click='addCache()' class=['btn', 'btn-default', 'fa', 'fa-plus'] ) &nbspAdd
        table(ng-table="cachesTable" class=['table', 'table-bordered', 'table-hover'])
            tr(ng-repeat="cache in $data")
                td(data-title="'#'" class=['text-center', 'vcenter'] style='width: 50px') {{$index + 1}}
                td(data-title="'Name'" sortable="'name'" class=['text-center', 'col-sm-2'])
                    div(ng-if='!(editColumn == "name" && currentCache == cache)')
                        span(ng-if='cache.name') {{cache.name}}
                        span.pull-right(type='button' ng-click='beginEditCache("name", cache);')
                            i(class=['fa', 'fa-pencil'])
                    div.input-group(ng-if='editColumn == "name" && currentCache == cache')
                        input.form-control(type='text' ng-model='cache.name')
                        span.input-group-addon
                            i(class=['fa', 'fa-repeat'] ng-click='revert();')
                            i(class=['fa', 'fa-save'] ng-click='submit();' style='margin-left: 10px;')
                td(data-title="'Mode'" sortable="'mode'" class=['text-center', 'col-sm-4'])
                    div(ng-if='!(editColumn == "mode" && currentCache == cache)')
                        span(ng-if='cache.mode') {{cache.mode}}
                        span.pull-right(type='button')
                            i(class=['fa', 'fa-pencil'] ng-click='beginEditCache("mode", cache);' style='margin-left: 10px;')
                    div.input-group(ng-if='editColumn == "mode" && currentCache == cache')
                        button(class=['btn', 'btn-default', 'form-control', 'pull-right'] style='width: 85%' data-placement='bottom-center' ng-model='cache.mode' data-template='/select' data-placeholder='Choose mode' bs-options='mode.value as mode.label for mode in modes' bs-select)
                            span.caret
                        span.input-group-addon
                            i(class=['fa', 'fa-repeat'] ng-click='revertCache();')
                            i(class=['fa', 'fa-save'] ng-click='submit();' style='margin-left: 10px;')
                td(data-title="'Backups'" sortable="'backups'" class=['text-center', 'col-sm-1'])
                    div(ng-if='!(editColumn == "backups" && currentCache == cache)')
                        span(ng-if='cache.backups') {{cache.backups}}
                        span.pull-right(type='button' ng-click='beginEditCache("backups", cache);')
                            i(class=['fa', 'fa-pencil'])
                    div.input-group(ng-if='editColumn == "name" && currentCache == cache')
                        input.form-control(type='text' ng-model='cache.name')
                        span.input-group-addon
                            i(class=['fa', 'fa-repeat'] ng-click='revert();')
                            i(class=['fa', 'fa-save'] ng-click='submit();' style='margin-left: 10px;')
                td(data-title="'Atomicity'" sortable="'atomicity'" class=['text-center', 'col-sm-4'])
                    div(ng-if='!(editColumn == "atomicity" && currentCache == cache)')
                        span(ng-if='cache.atomicity') {{cache.atomicity}}
                        span.pull-right(type='button')
                            i(class=['fa', 'fa-pencil'] ng-click='beginEditCache("atomicity", cache);' style='margin-left: 10px;')
                    div.input-group(ng-if='editColumn == "atomicity" && currentCache == cache')
                        button(class=['btn', 'btn-default', 'form-control', 'pull-right'] style='width: 85%' data-placement='bottom-center' ng-model='cache.atomicity' data-template='/select' data-placeholder='Choose atomicity' bs-options='atomicity.value as atomicity.label for atomicity in atomicities' bs-select)
                            span.caret
                        span.input-group-addon
                            i(class=['fa', 'fa-repeat'] ng-click='revertCache();')
                            i(class=['fa', 'fa-save'] ng-click='submit();' style='margin-left: 10px;')
                td.col-sm-1(data-title="'Delete'")
                    center
                        span(type='button' ng-click='deleteCache(Cache)')
                            i(class=['fa', 'fa-remove'])        