// Page with cluster configuration.
extends layout-sidebar

append css
    link(rel='stylesheet', href='/stylesheets/ng-table.css')

append scripts
    script(src='/javascripts/controllers/clusters.js')

block content
    div.docs-header
        h1 Clusters
        p Create and configure Ignite clusters.
        hr
    div.docs-body(ng-controller='clustersController')
        div.block-edit-parameters
            div.btn-group
                button(ng-click='add()' class=['btn', 'btn-default', 'fa', 'fa-plus'] ) &nbspAdd
        table(ng-table="clustersTable" class=['table', 'table-bordered', 'table-hover'])
            tr(ng-repeat="cluster in $data")
                td(data-title="'#'" class=['text-center', 'vcenter'] style='width: 50px') {{$index + 1}}
                td(data-title="'Name'" sortable="'name'" class=['text-center', 'col-sm-4'])
                    div(ng-if='!(edit.name && editIdx == $index)')
                        span(ng-if='cluster.name') {{cluster.name}}
                        span.pull-right(type='button' ng-click='beginEdit(cluster); edit.name = true' data-animation="am-fade-and-scale")
                            i(class=['fa', 'fa-pencil'])
                    div.input-group(ng-if='edit.name && editIdx == $index')
                        input.form-control(type='text' ng-model='cluster.name')
                        span.input-group-addon
                            i(class=['fa', 'fa-repeat'] ng-click='revert(); edit.name = false')
                            i(class=['fa', 'fa-save'] ng-click='submit(); edit.name = false' style='margin-left: 10px;')
                td.text-center(data-title="'Discovery'" sortable="'discovery'")
                    div(ng-if='!(edit.discovery && editIdx == $index)')
                        span(ng-if='cluster.discovery') {{discoveryAsString(cluster.discovery)}}
                        span.pull-right(type='button' ng-click='beginEdit(cluster); edit.discovery = true' data-animation="am-fade-and-scale")
                            i(class=['fa', 'fa-pencil'])
                    div.input-group(ng-if='edit.discovery && editIdx == $index')
                        button(
                        class=['btn', 'btn-default', 'form-control', 'pull-right'] style='width: 85%' data-placement='bottom-center' ng-model='cluster.discovery' data-template='/select' data-placeholder='Choose discovery' bs-options='discovery.value as discovery.label for discovery in discoveries' bs-select)
                            span.caret
                        span.input-group-addon
                            i(class=['fa', 'fa-repeat'] ng-click='revert(); edit.discovery = false')
                            i(class=['fa', 'fa-save'] ng-click='submit(); edit.discovery = false' style='margin-left: 10px;')
                td(data-title="'Delete'" class=['col-sm-1'])
                    center
                        span(type='button' ng-click='delete(cluster)')
                            i(class=['fa', 'fa-remove'])
