//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends layout-sidebar

append scripts
    script(src='/javascripts/controllers/clusters.js')

block content
    .docs-header
        h1 Clusters
        p Create and configure Ignite clusters.
        hr
    .docs-body(ng-controller='clustersController')
        h3 Clusters
        .settings-row.links
            table(st-table='rowCollection' st-safe-src='clusters')
                tbody
                    tr.col-xs-12(ng-repeat='row in rowCollection')
                        td.col-xs-12(ng-class="{active: row == selectedCluster}")
                            a(ng-click='selectItem(row)') Name: {{row.name}}, Discovery: {{row.discovery.kind | displayValue:discoveries}}
                            span.pull-right(type='button' ng-click='removeItem(row)')
                                i(class=['fa', 'fa-remove'])
        .settings-row
            button(ng-click='createItem()' class=['btn', 'btn-default'] ng-disabled='!create.template') &nbspAdd cluster...
                span.input-group-btn
                    button(class=['btn', 'btn-default'] ng-model='create.template' data-placement='bottom-center' data-template='/select' data-placeholder='Choose cluster template' bs-options='item.value as item.label for item in templates' bs-select)
        form.form-horizontal(name='editForm' ng-if='backupItem')
            h3 General
            .settings-row
                span.col-xs-2 Name:
                .col-xs-4
                    input.form-control(type='text' ng-model='backupItem.name')
            .settings-row
                span.col-xs-2 Discovery:
                .col-sm-8
                    .input-group
                        button.form-control(ng-model='backupItem.discovery.kind' data-placement='bottom-center' data-template='/select' data-placeholder='Choose discovery' bs-options='item.value as item.label for item in discoveries' bs-select)
                        span.input-group-btn
                            button(class=['btn', 'btn-default'] ng-click='editDiscovery(cluster)')
                                i(class=['fa', 'fa-bars'])
            .panel(bs-collapse data-start-collapsed='true')
                .panel-collapse(bs-collapse-target)
                    h3 Thread pool size
                    .settings-row
                        span.col-xs-2 Public:
                        .col-xs-4
                            input.form-control(type='text' ng-model='backupItem.pubPoolSize' placeholder='max(8, availableProcessors) * 2')
                    .settings-row
                        span.col-xs-2 System:
                        .col-xs-4
                            input.form-control(type='text' ng-model='backupItem.sysPoolSize' placeholder='max(8, availableProcessors) * 2')
                    .settings-row
                        span.col-xs-2 Management:
                        .col-xs-4
                            input.form-control(type='text' ng-model='backupItem.mgmtPoolSize' placeholder='4')
                    .settings-row
                        span.col-xs-2 Peer class loading:
                        .col-xs-4
                            input.form-control(type='text' ng-model='backupItem.p2pPoolSize' placeholder='2')
                .panel-heading
                    .panel-title
                        span(bs-collapse-toggle)
                            a(ng-click='expanded = true' ng-hide='expanded') Show advanced settings...
                            a(ng-click='expanded = false' ng-show='expanded') Hide advanced settings...
            center
                button.btn.btn-primary(ng-click='saveItem(backupItem)' ng-disabled='editForm.$invalid') Apply