//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

extends layout-sidebar

append scripts
    script(src='/javascripts/controllers/clusters.js')

block content
    .docs-header
        h1 Clusters
        p Create and configure Ignite clusters.
        hr
    .docs-body(ng-controller='clustersController')
        table(st-table='rowCollection' st-safe-src='clusters')
            thead
                tr
                    th(style='width: 50px') #
                    th(st-sort='name') Name
                    th.col-sm-1 Action
            tbody
                tr(st-select-row='row' ng-click='selectItem(row)' st-select-mode='single' ng-repeat='row in rowCollection')
                    td {{$index + 1}}
                    td {{row.name}}
                    td
                        span(type='button' ng-click='removeItem(row._id)')
                            i(class=['fa', 'fa-remove'])
            tfoot
                tr
                    td
                    td
                        .input-group
                            input.form-control(type='text' name='name' ng-model='create.name' placeholder='Enter cluster name')
                            button(class=['form-control'] ng-model='create.template' data-placement='bottom-center' data-template='/select' data-placeholder='Choose cluster template' bs-options='item.value as item.label for item in templates' bs-select)
                    td
                        button(ng-click='createItem()' class=['btn', 'btn-success', 'fa', 'fa-plus'] ng-disabled='!(create.name && create.template)') &nbspCreate
        form.form-horizontal(name='editForm' ng-if='backupItem')
            .form-group
                label.control-label.col-sm-4 Name:
                .col-sm-8
                    input.form-control(type='text' ng-model='backupItem.name')
            .form-group
                label.control-label.col-sm-4 Discovery:
                .col-sm-8
                    .input-group
                        button.form-control(ng-model='backupItem.discovery' data-placement='bottom-center' data-template='/select' data-placeholder='Choose discovery' bs-options='item.value as item.label for item in discoveries' bs-select)
                        span.input-group-btn
                            button(class=['btn', 'btn-default'] ng-click='editDiscovery(cluster)')
                                i(class=['fa', 'fa-bars'])
            .panel.advanced(bs-collapse data-start-collapsed='true')
                .panel-collapse(bs-collapse-target)
                    .form-group
                        label.control-label.col-sm-4 Public thread pool size:
                        .col-sm-8
                            input.form-control(type='text' ng-model='backupItem.pubPoolSize')
                    .form-group
                        label.control-label.col-sm-4 System thread pool size:
                        .col-sm-8
                            input.form-control(type='text' ng-model='backupItem.sysPoolSize')
                    .form-group
                        label.control-label.col-sm-4 Management thread pool size:
                        .col-sm-8
                            input.form-control(type='text' ng-model='backupItem.mgmtPoolSize' placeholder='4')
                    .form-group
                        label.control-label.col-sm-4 Peer class loading thread pool size:
                        .col-sm-8
                            input.form-control(type='text' ng-model='backupItem.p2pPoolSize' placeholder='2')
                .panel-heading
                    .panel-title
                        span(bs-collapse-toggle)
                            a(ng-click='expanded = true' ng-hide='expanded') Show advanced settings
                            a(ng-click='expanded = false' ng-show='expanded') Hide advanced settings
            center
                button.btn.btn-primary(ng-click='saveCluster(backupItem)' ng-disabled='editForm.$invalid') Apply