div(class=['modal', 'center'] tabindex='-1' role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', ng-click='$hide()', aria-hidden='true') &times;
                h4.modal-title Discovery
                    p Enter IP Addresses
            .modal-body
                form.form-horizontal(name='discoveryForm')
                    .modal-body.row
                        div(ng-show='errorMessage')
                            p.text-center.error-message {{errorMessage}}
                        .col-xs-10.login.col-xs-offset-1
                            div.form-group
                                label.col-sm-3.control-label IP Address
                                .controls.col-sm-9
                                    input.form-control(type='text', ng-model='discovery.ip', placeholder='127.0.0.0', focus-me='true', required)
                            div.form-group
                                label.col-sm-3.control-label Ports range
                                .controls.col-sm-9
                                    input.form-control(type='text', ng-model='discovery.ports', placeholder='47500..47509', required)
                    .modal-footer
                        button.btn.btn-primary(ng-click='saveDiscovery(disco_info)' ng-disabled='discoveryForm.$invalid') Save
                        button.btn.btn-primary(ng-click='$hide()') Cancel
