extends layout

block content
    //div.wrapper
    //    aside.main-sidebar
    //        section.sidebar
    //            ul.sidebar-menu
    //                li.header HEADER
    //                li.acitve
    //                    a(href="/cluster") Cluster
    //                li.treeview
    //                    a(href="#")
    //                        span Caches
    //                        i(class=['fa', 'fa-angle-right', 'pull-left'])
    //                    ul.treeview-menu
    //                        li
    //                            a(href="/caches") Caches level 2
    //                        li
    //                            a(href="/caches") Caches level 2
    //                li
    //                    a(href="/persistence") Persistence
    //                li
    //                    a(href="/sql") SQL
    //                li
    //                    a(href="/clients") Clients
