doctype html
html(ng-app='ignite-web-configurator')
    head
        title= title

        //add bootstrap dependencies from CDNjs. Using a CDN to distribute these files puts less pressure
        //on our web server and will be delivered faster to the client than our own server.
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css')

        // Font Awesome Icons
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css')

        // AdminLTE
        link(rel='stylesheet', href='/stylesheets/AdminLTE.css')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js')
        script(src='/javascripts/AdminLTE.js')

        // Site style
        link(rel='stylesheet', href='/stylesheets/skin-ignite.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        block head
    body.skin-ignite
        div.wrapper
            include includes/header

            <!-- Sidebar -->
            aside.main-sidebar
                section.sidebar
                    ul.sidebar-menu
                        li.acitve
                            a(href="/cluster") Cluster
                        li.treeview
                            a(href="#")
                                span Caches
                                i(class=['fa', 'fa-angle-right', 'pull-left'])
                            ul.treeview-menu
                                li
                                    a(href="/caches") Caches level 2
                                li
                                    a(href="/caches") Caches level 2
                        li
                            a(href="/persistence") Persistence
                        li
                            a(href="/sql") SQL
                        li
                            a(href="/clients") Clients

            div.content-wrapper
                <!-- Content Header (Page header) -->
                section.content-header
                    block content-header
                <!-- Content (Page content) -->
                section.content
                    block content

            include includes/footer

        <!-- Custom script load -->
        block body