div(class=['modal', 'center'] tabindex='-1' role='dialog')
    .modal-dialog
        .modal-content
            .modal-header.header
                button.close(type='button', ng-click='$hide()', aria-hidden='true') &times;
                h1.navbar-brand.pull-left
                    a(href='/') Apache Ignite Web Configurator
                h4.modal-title Authentication
                p Log in or register in order to collaborate
            form.form-horizontal(name='loginForm')
                .modal-body.row
                    div(ng-show='errorMessage')
                        p.text-center.error-message {{errorMessage}}
                    .col-xs-9.login.col-xs-offset-1
                        div.form-group(ng-show="action == 'register'")
                            label.col-sm-3.control-label Full Name
                            .controls.col-sm-9
                                input.form-control(type='text', ng-model='user_info.username', placeholder='John Smith', focus-me="action=='register'", ng-required="action=='register'")
                        div.form-group
                            label.col-sm-3.control-label Email
                            .controls.col-sm-9
                                input.form-control(type='email', ng-model='user_info.email', placeholder='you@domain.com', focus-me="action=='login'", required)
                        div.form-group
                            label.col-sm-3.control-label Password
                            .controls.col-sm-9
                                input.form-control(type='password', ng-model='user_info.password', placeholder='Password', required)
            .modal-footer
                a.show-signup.ng-hide(ng-show="action != 'login'", ng-click="action = 'login';") log in
                a.show-signup(ng-show="action != 'register'", ng-click="action = 'register';") sign up
                | &nbsp;or&nbsp;
                button.btn.btn-primary(ng-click='auth(action, user_info)' ng-show="action == 'login'" ng-disabled='loginForm.$invalid') Log In
                button.btn.btn-primary(ng-click='auth(action, user_info)' ng-show="action == 'register'" ng-disabled='loginForm.$invalid') Sign Up
