extends layout-sidebar
block head
block content
    div.docs-header
        h1 Persistence
        p Create and configure Ignite persistence.
        hr
    div.docs-body(ng-controller='persistentRouter')
block body
    script(src='/javascripts/controllers/persistent.js')