extends layout
block head
block content
    div.docs-header
        h1 SQL
        p Create and configure Ignite SQL settings.
        hr
    div.docs-body(ng-controller='sqlRouter')
block body
    script(src='/javascripts/controllers/sql.js')