div(class=['modal', 'center'] tabindex='-1' role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', ng-click='$hide()', aria-hidden='true') &times;
                h4.modal-title Configure Static IPs
            .modal-body
                div.block-edit-parameters
                    div.btn-group
                        button(ng-click='add()' class=['btn', 'btn-default', 'fa', 'fa-plus'] ) &nbspAdd
                table(ng-table="tcpDiscoveryVmIpFinderTable" class=['table', 'table-bordered', 'table-hover'])
                    tr(ng-repeat="address in $data")
                        td(data-title="'#'" class=['text-center', 'vcenter'] style='width: 50px') {{$index + 1}}
                        td.text-center(data-title="'IP Address with ports range'")
                            div(ng-if='!(editColumn == "ip" && currentRow == cluster)')
                                span(ng-if='cluster.name') {{'127.0.0.1:47500..47509'}}
                                span.pull-right(type='button' ng-click='beginEditStaticIps(cluster);')
                                    i(class=['fa', 'fa-pencil'])
                            div.input-group(ng-if='editColumn == "name" && currentRow == cluster')
                                input.form-control(type='text' ng-model='cluster.name')
                                span.input-group-addon
                                    i(class=['fa', 'fa-repeat'] ng-click='revert();')
                                    i(class=['fa', 'fa-save'] ng-click='submit();' style='margin-left: 10px;')
                        td.col-sm-1(data-title="'Delete'")
                            center
                                span(type='button' ng-click='delete(cluster)')
                                    i(class=['fa', 'fa-remove'])
            .modal-footer
                button.btn.btn-primary(ng-click='saveDiscovery(disco_info)' ng-disabled='discoveryForm.$invalid') Save
                button.btn.btn-primary(ng-click='$hide()') Cancel
