<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                                 http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <http auto-config="true">
        <intercept-url pattern="/login.html" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/users/*.do" access="IS_AUTHENTICATED_ANONYMOUSLY"/>

        <intercept-url pattern="/**/*.html" access="ROLE_USER"/>

        <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>

        <form-login
            login-page="/login.html"
            default-target-url="/home.html"
            login-processing-url="/login.do"

            username-parameter="login"
            password-parameter="password"
            authentication-success-handler-ref="authHandler"
            authentication-failure-handler-ref="authHandler"/>
        <logout logout-success-url="/login.html" logout-url="/logout.do"/>
    </http>

    <beans:bean id="authHandler" class="org.apache.ignite.webconfig.server.auth.AjaxAuthenticationHandler"/>

    <beans:bean id="customAuthenticationProvider" class="org.apache.ignite.webconfig.server.auth.AuthenticationProviderImpl">
        <beans:property name="userDao" ref="userDao"/>
    </beans:bean>

    <beans:bean id="userDao" class="org.apache.ignite.webconfig.server.dao.impl.MongoUserDaoImpl">
        <beans:property name="mongo" ref="mongo"/>
    </beans:bean>

    <beans:bean id="cfgDao" class="org.apache.ignite.webconfig.server.dao.impl.MongoClusterConfigurationDaoImpl">
        <beans:property name="morphiaSpringBean" ref="morphia"/>
    </beans:bean>

    <beans:bean id="mongo" class="org.apache.ignite.webconfig.server.dao.impl.MongoSpringBean">
        <beans:property name="host" value="localhost"/>
        <beans:property name="dbName" value="igniteweb"/>
    </beans:bean>

    <beans:bean id="morphia" class="org.apache.ignite.webconfig.server.dao.impl.MorphiaSpringBean">
        <beans:property name="mongo" ref="mongo"/>
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="customAuthenticationProvider"/>
    </authentication-manager>
</beans:beans>
